<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService"
				 type="SubSonic.SubSonicSection, SubSonic"
				 requirePermission="false" />
  </configSections>


  <connectionStrings>
    <!--Home-->
    <!--<add name="ConnectionString4SubSonic" connectionString="Data Source=HP-PC\SQLEXPRESS;Initial Catalog=banhbanh;user=sa; password=123456;" providerName="System.Data.SqlClient" />-->
    <!--Off-->
    <add name="ConnectionString4SubSonic" connectionString="Data Source=EPVNWRKLITR\SQLEXPRESS;Initial Catalog=banhbanh;user=sa; password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <SubSonicService defaultProvider="LocalProvider">
    <providers>
      <clear/>
      <add name="LocalProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="ConnectionString4SubSonic"
           generatedNamespace="Subsonic2"
          useSPs ="true"
					regexDictionaryReplace="tbl+,"/>
    </providers>
  </SubSonicService>
</configuration>